<div class="text-field">
  <%= form.label :friends_name %>
  <%= form.text_field :invite_name %>
</div>

<div class="text-field">
  <%= form.label :friends_email %>
  <%= form.text_field :invite_email, type: 'email' %>
</div>
