<h2>Invite a friend</h2>
<%= form_for @invite do |form| %>
  <%= render partial: '/invites/form', locals: {form: form} %>
<br>
  <div class="submit-field">
    <%= form.submit 'Send Invite' %>
  </div>
<% end %>
