<p id="notice"><%= notice %></p>

<div class="centered">
  <img style="max-width:1280px; margin-bottom:2em" src="http://austinrecoveryalumni.com/wp-content/uploads/2017/05/movie-night-header.jpg" />
  <h4>Take the guess work out of your next movie night!</h4>
  <h4>Easily pick movies everyone wants to see, with Watcher.</h4>
  <div class="row sign-up-form">
    <h5 style="margin-top:1em;"> <a style="color:white" href="/"> Rate your first movie!</a> </h5>
    <img style="max-width:128px" src="https://cdn2.iconfinder.com/data/icons/food-drink-60/50/1F37F-popcorn-512.png" />
  </div>
</div>
