/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.bottom-space {
    margin-bottom: 1em;
}

.centered {
    text-align: center;
}

.invite-button {
    margin-bottom: 2.5em;
}

.link-to a {
    background-color: rgb(239, 239 ,239);
    color: #000;
    padding: 1px 6px;
    text-decoration: none;
}

.other-links a {
    background-color: rgb(239, 239 ,239);
    color: #000;
    padding: 1px 6px;
    text-decoration: none;
}

.poster {
    height: 320px;
    text-align: center;
}

.sign-up-form {
    display:inline-block;
}

.top-space {
    margin-bottom: 1em;
}

.user-status {
    margin-top: 2.5em;
}
